[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
langchain = "*"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-google-vertexai = "*"
langchain-community = "*"
openai = "*"
tiktoken = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.12"
